---
import {Nav} from '~/components/Nav'
import {Search} from '~/components/Search'

const {title} = Astro.props.frontmatter || Astro.props

const pages = (await Astro.glob('../pages/**/*'))
  .map(page => {
    if (!page.frontmatter || !page.frontmatter.title || !page.frontmatter.rawContent) {
      return null
    }

    return {
      title: String(page.frontmatter.title),
      rawContent: String(page.frontmatter.rawContent),
      url: String(page.url)
    }
  })
  .filter(Boolean) as Array<{title: string; rawContent: string; url: string}>
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title ? `${title} | Primer` : 'Primer'}</title>
  </head>
  <body>
    <header>
      <span>Primer Design System</span>
      <Search client:idle pages={pages} />
    </header>
    <Nav />
    <slot />
  </body>
</html>
